[submodule "movies-backend-docker"]
	path = movies-backend-docker
	url = https://github.com/Guerre450/movies-backend-docker.git
[submodule "movies-frontend-docker"]
	path = movies-frontend-docker
	url = https://github.com/Guerre450/movies-frontend-docker.git
